/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Viga&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body{
    color: white;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 180px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3D844A;
}

.header .container-logo img{
    padding: 10px;
    width: 9rem;
    margin-top: 5px;
    margin-left: 100px;
}

.nav .nav-menu{
    padding-right: 100px;
    font-weight: 500;
}

.nav .nav-menu li{
    color: white;
    font-size: 30px;
    display: inline;
    padding: 0 20px;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.nav .nav-menu li:hover{
    color: #287746;
}

main{
    height: 100vh;
    width: 1519px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 1520px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
}

.navigation{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    padding-right: 7.25rem;
}

section input{
    display: none;
}

.manual-btn{
    
    border: 2px solid rgb(12, 12, 12);
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.manual-btn:not(:last-child){
    margin-right: 70px;
}

.manual-btn:hover{
    background-color: #fff;
}

.slides{
    display: flex;
    width: 400%;
    height: 100%;
}

.img-slide{
    width: 25%;
    height: auto;
    transition: 0.5s;
}

.img-slide img{
   width: 100vw;
   height: 100vh;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.caixa-img{
    width: 80%;
    display: flex;
    margin: auto;
   color: #000;

    margin-top: 50px;
    margin-bottom: 50px;

    
}

.caixa-img img {
    margin: auto;
    width: 100%;
    height: auto;
}

.caixa-img p{

    font-size: 24px;
    background-color: #49b673;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;

    width: 100%;
    height: auto;
    color: #fff;

}

footer{
    width: 100%;
    height: 100%;
    background-color: #49b673;
    text-align: center;  
}

footer .social-midia {
    display: inline-block;
}

.social-midia img{
    padding: 25px 0;
    margin: 0 40px;
    width: 60px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.social-midia img:hover{
    opacity: 50%;
}

footer .social-midia:first-child img{
    margin-left: 0;
}

.box2 .social-midia p{
    display: inline;
    font-size: 20px;
    float: left;
    padding: 20px 80px 15px 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.box2 .social-midia p:hover{
    color: #287746;
}

.box2 .social-midia a{
    color: white;
}





